@font-face {
    font-family: Norse-Bold;
    src: url(./images/Norse-Bold.otf);
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    background-size: cover;
}

.leftSide {
    padding-top: 140px;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;    
    background-position: center; 
    height: 100vh;
    width: 40%;
}

#leftText {
    font-family: Norse-Bold;
    color: white;
    font-size: 4em;
}

.logo {
    width: 15%;
    height:15%;
}

.leftContent {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#Description {
    font-weight: 1000;
    font-size: 1.2em;
    padding-left: 1em;
}

.formContainer{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 2em
}

.formContainer input{
    padding: 0.8em 3em;
    font-size: 1em;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.formContainer h1{
    font-size: 1.2em;
}

.formCol{
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#createAcc {
    background-color: #596D48;
    border-radius: 8px;
    color: white;
    width: 10vw;
    padding: 0.5em 1em;
    font-size: 1em;
}

.createAccContainer, #prevUser {
    padding-top: 2em;
    padding-left: 2em;
}

#prevUser {
    font-size: 1em;
}

#logIn {
    all: unset;
    font-weight: bold;
    color: #596D48;
    cursor: pointer;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border: 2px solid lightblue;
    box-shadow: 0 0 4px rgba(38, 132, 255, 0.5); 
}
